{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "useTabs": false,
  "bracketSpacing": true
}